<!DOCTYPE html>
<html lang="{{meta.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{meta.description}}"/>
    <meta name="keywords" content="{{meta.keywords}}"/>
    <title>{{ meta.title_short }}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#005999">
    <meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#005999">

    {{!-- Facebook --}}
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:url" content="https://getdumont.com"/>
    <meta property="og:image" content="https://getdumont.com/assets/images/banner.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Dumont"/>

    {{!-- Twitter --}}
    <meta name="twitter:card" content="{{ meta.title_short }}">
    <meta name="twitter:site" content="@projetodumont">
    <meta name="twitter:title" content= "{{ meta.title_short }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:creator" content="Dumont">
    <meta name="twitter:image:src" content="https://getdumont.com/assets/images/banner.png">
    <meta name="twitter:domain" content="getdumont.com">
    <style>
        #placeholder-loading {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #005999;
            z-index: 5;
        }
    </style>
</head>
<body>
    <div id="placeholder-loading"></div>
    <h1>{{ meta.title_short }}</h1>
    <section class="hero main">
        <h2 class="hide">{{ meta.title_max }}</h2>
        {{> cloud style=3 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        {{> cloud style=4 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        {{> cloud style=3 }}
        {{> cloud style=4 }}
        {{> cloud style=2 }}
        {{> cloud style=3 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        <div class="hero-content">
            <span data-img="/assets/images/logo.png" data-alt="{{ meta.description }}"></span>
        </div>
    </section>
    <section class="data" id="dados-saude-mental">
        <div class="title">{{ session_one.title }}</div>
        <h2 class="hide">{{ session_one.seo }}</h2>
        <div class="hero-content">
            {{#each session_one.articles}}
                <article class="card">
                    <h3>{{title}}</h3>
                    <p>{{{ text }}}</p>
                    {{#each links}}
                        <a href="{{uri}}">{{text}}</a>
                    {{/each}}
                </article>
            {{/each}}
        </div>
    </section>
    <section class="about" id="sobre">
        <div class="title">{{ session_two.title }}</div>
        <h2 class="hide">{{ session_two.seo }}</h2>
        {{#each session_two.articles}}
            <article>
                <h3>{{ title }}</h3>
                <p>{{{ text }}}</p>
            </article>
        {{/each}}
    </section>
    <section class="contact" id="participe">
        <h2 class="hide">{{ session_three.seo }} </h2>
        <div>
            <p>{{ session_three.text }}</p>
            <form action="">
                <input type="email" placeholder="{{ session_three.placeholder }}" name="email" />
                <button type="submit">Participar!</button>
            </form>
        </div>
    </section>
    <section class="how hero" id="como-funciona">
        <h2 class="hide">{{ session_four.seo }}</h2>
        <div class="hero-content slide-1">
            {{> steper }}
            <span class="mtitle">{{ session_four.articles.0.title }} </span>
            {{#animation-slide
                id=1
                text=session_four.articles.0.text}}
                {{#frame}}
                    {{> screen/twitter }}
                {{/frame}}
            {{/animation-slide}}
            <span class="mtitle">{{ session_four.articles.1.title }} </span>
            {{#animation-slide
                id=2
                text=session_four.articles.1.text}}
                {{#frame}}
                    {{> screen/momo }}
                {{/frame}}
            {{/animation-slide}}
            <span class="mtitle">{{ session_four.articles.2.title }} </span>
            {{#animation-slide
                id=3
                text=session_four.articles.2.text}}
                {{#frame}}
                    {{> screen/shell }}
                {{/frame}}
            {{/animation-slide}}
        </div>
    </section>
    <footer class="footer">
        <div class="content">
            <div class="logo">
                <span data-img="/assets/images/logo_blue.png" data-alt="{{ meta.title_max }}"></span>
            </div>
            <div>
                <h4>Social</h4>
                {{#footer-list links=footer.social_links}}{{/footer-list}}
            </div>
            <div>
                <h4>Relacionados</h4>
                {{#footer-list links=footer.related_links}}{{/footer-list}}
            </div>
        </div>
        <div class="copyright">
            {{ meta.copyrights }}
        </div>
    </footer>
    <script src="/assets/scripts/index.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', {scope: '/'})
                .then(function(reg) {
                    console.log('Registration succeeded. Scope is ' + reg.scope);
                }).catch(function(error) {
                    console.log('Registration failed with ' + error);
                });
        }
    </script>
</body>
</html>
