<!DOCTYPE html>
<html lang="{{meta.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{meta.description}}"/>
    <meta name="keywords" content="{{meta.keywords}}"/>
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" href="/assets/css/index.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#005999">
    <meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <section class="hero main">
        {{> cloud style=3 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        {{> cloud style=4 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        {{> cloud style=3 }}
        {{> cloud style=4 }}
        {{> cloud style=2 }}
        {{> cloud style=3 }}
        {{> cloud style=1 }}
        {{> cloud style=2 }}
        <div class="hero-content">
            <img src="/assets/images/logo.png" alt="{{ meta.title }}">
        </div>
    </section>
    <section class="about">
        <h2>Você sabia?</h2>
        <div class="hero-content">
            <div class="card">
                <h2>11 milhões</h2>
                <p>
                    É o número estimado, pela OMS, de Brasileiros com depressão
                </p>
            </div>
            <div class="card">
                <h2>
                    20 milhões
                </h2>
                <p>
                    É o número estimado de Brasileiros interagindo no Twitter
                </p>
            </div>
            <div class="card">
                <h2>8 vezes</h2>
                <p>
                    Representa o aumento nas vendas após implementar uma IA
                </p>
            </div>
        </div>
    </section>
    <section class="how hero">
        <div class="hero-content">
            <div class="steper">
                <div class="step active">
                    <div class="number">1</div>
                    <div class="text">Coleta de Tweets</div>
                </div>
                <div class="step">
                    <div class="number">2</div>
                    <div class="text">Dados Especialistas</div>
                </div>
                <div class="step">
                    <div class="number">3</div>
                    <div class="text">Processamento e Predição</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>